<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User</title>
  </head>
  <body>
    <h1>how are your users</h1>
    <div >
      <table>
        <thead>
          <th>First Name</th>
          <th>Second Name</th>
          <th>Email</th>
        </thead>
      {%for user in  user_record %}
      <tr>
        <td>{{user.FirstName}}</td>
        <td>{{user.LastName}}</td>
        <td>{{user.Email}}</td>
      </tr>
      {%endfor%}
      </table>
      {%else%}
      <p>NO ACCESS TO RECORDS FOUND</p>
      {%endif%}
    </div>
  </body>
</html>
